pandas
numpy
scikit-learn
chromadb
langchain
langchain-community
langchain-groq
streamlit
plotly
watchdog
flask
fastapi
uvicorn[standard]
pyngrok
requests
httpx
groq
langgraph
psutil
openai
tiktoken
jira
python-dotenv
pytest
